:root {
	--modal-spacing: 20px;
	--page-spacing: 40px;
	--X-color: #000000;
	--O-color: #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	padding: var(--page-spacing);
	gap: var(--page-spacing);
	display: flex;
	text-align: center;
}

body > * {
	flex: 1 1 0;
}

dialog {
	margin: auto;
	border-radius: 15px;
	width: 600px;
	padding: var(--modal-spacing);
}

form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr min-content;
	gap: var(--modal-spacing);
}

form > div {
	display: flex;
	flex-direction: column;
	gap: calc(var(--modal-spacing) / 2);
}

form label {
	display: flex;
	flex-direction: column;
	text-wrap: nowrap;
}

label, input {
	text-align: center;
	align-self: center;
	border-radius: 15px;
}

.form-buttons {
	display: flex;
	gap: calc(var(--modal-spacing) / 2);
}

.form-buttons > * {
	flex: 1 0 0;
}

.form-buttons button {
	aspect-ratio: 1/1;
	border-radius: 15px;
}

.form-buttons svg {
	width: 75%;
	height: 75%;
	color: grey;
	pointer-events: none;
}

input[type="color"] {
	width: 150px;
	height: 50px
}

form > button {
	grid-area: 2 / 1 / span 1 / span 2;
	width: min-content;
	justify-self: center;
	padding: 5px 10px;
}

.player-info {
	font-size: 36px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--page-spacing);
}

.player-header {
	display: flex;
	align-items: stretch;
}

.player-header svg {
	height: 50%;
	width: auto;
	opacity: 50%;
}

.player-marker {
	height: 100px;
	width: 100px;
}

.player-marker > svg {
	height: 100%;
	width: 100%;
}

#main-section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: var(--page-spacing)
}

#score {
	font-size: 60px;
}

#gameboard {
	aspect-ratio: 1/1;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell:not([data-row="3"]) {
	border-bottom: 3px solid black;
}

.cell:not([data-column="3"]) {
	border-right: 3px solid black;
}

.cell > svg {
	height: 50%;
	width: 50%;
}

.marker-X {
	color: var(--X-color);
}

.marker-O {
	color: var(--O-color);
}